<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>Edit user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
  <label for="name">Edit name: </label>
  <input type="text" th:field="*{username}" id="name"/>
  <br/>
  <label for="email">Edit email: </label>
  <input type="text" th:field="*{email}" id="email">
  <br/>
  <label for="password">Edit password: </label>
  <input type="text" th:field="*{password}" id="password">
  <br/>
  <label for="roles">Role</label>
  <select name="role" multiple id="roles" style="height: 40px;">
    <option value="1">USER</option>
    <option value="2">ADMIN</option>
  </select>
  <br/>
  <input type="submit" value="Update!"/>
</form>
<a href="/logout">Logout</a>
</body>
</html>